<% @coins %>

<% for x in @coins['data'] %>
    <% for coin in @my_coins %>
        <% if coin == x['symbol'] %>
            <% x['name'] %> <% x['quote']['USD']['price'] %><br/>
            <% @coinlist.push(x['quote']['USD']['price']) %>
        <% end %>
    <% end %>
<% end %>

<div class="row row-cols-3 row-cols-md-4 g-4">
  <div class="col">
    <div class="card"><br/>
      <%=image_tag("btc.png", size: "65x65", class: "mx-auto d-block", alt: "BITCOIN")%>
      <div class="card-body">
        <h5 class="card-title text-center">Bitcoin</h5>
        <p class="card-text text-center">BTC</p>
        <h6 class="card-title text-center"><%= number_to_currency(@coinlist.fetch(0))%></h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"><br/>
      <%=image_tag("eth.png", size: "65x65", class: "mx-auto d-block", alt: "ETHEREUM")%>
      <div class="card-body">
        <h5 class="card-title text-center">Ethereum</h5>
        <p class="card-text text-center">ETH</p>
        <h6 class="card-title text-center"><%= number_to_currency(@coinlist.fetch(1))%></h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"><br/>
      <%=image_tag("ada.png", size: "65x65", class: "mx-auto d-block", alt: "CARDANO")%>
      <div class="card-body">
        <h5 class="card-title text-center">Cardano</h5>
        <p class="card-text text-center">ADA</p>
        <h6 class="card-title text-center"><%= number_to_currency(@coinlist.fetch(2))%></h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"><br/>
      <%=image_tag("bnb.png", size: "65x65", class: "mx-auto d-block", alt: "BINANCE")%>
      <div class="card-body">
        <h5 class="card-title text-center">Binance Coin</h5>
        <p class="card-text text-center">BNB</p>
        <h6 class="card-title text-center"><%= number_to_currency(@coinlist.fetch(3))%></h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"><br/>
      <%=image_tag("usdt.png", size: "65x65", class: "mx-auto d-block", alt: "TETHER")%>
      <div class="card-body">
        <h5 class="card-title text-center">Tether</h5>
        <p class="card-text text-center">USDT</p>
        <h6 class="card-title text-center"><%= number_to_currency(@coinlist.fetch(4))%></h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"><br/>
      <%=image_tag("xrp.png", size: "65x65", class: "mx-auto d-block", alt: "RIPPLE")%>
      <div class="card-body">
        <h5 class="card-title text-center">Ripple</h5>
        <p class="card-text text-center">XRP</p>
        <h6 class="card-title text-center"><%= number_to_currency(@coinlist.fetch(5))%></h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"><br/>
      <%=image_tag("sol.png", size: "65x65", class: "mx-auto d-block", alt: "SOLANA")%>
      <div class="card-body">
        <h5 class="card-title text-center">Solana</h5>
        <p class="card-text text-center">SOL</p>
        <h6 class="card-title text-center"><%= number_to_currency(@coinlist.fetch(6))%></h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"><br/>
      <%=image_tag("doge.png", size: "65x65", class: "mx-auto d-block", alt: "DOGECOIN")%>
      <div class="card-body">
        <h5 class="card-title text-center">Dogecoin</h5>
        <p class="card-text text-center">DOGE</p>
        <h6 class="card-title text-center"><%= number_to_currency(@coinlist.fetch(7))%></h6>
      </div>
    </div>
  </div>
</div>

<br/><br/>


